
		#zt1{
			font-family:SimHei;
			font-size: 20px;
			color: rgb(0,0,255);
			}
		#zt2{
			font-family:STHupo;
			font-size: 30px;
			color: rgb(0,255,0);
		}
		#zt3{
			font-family:STLiti;
			font-size: 40px;
			color: rgb(255,0,0);
		}