@charset"utf-8";

.tr1{
	font-family:黑体;
	color:#ff0000;
	font-size:30px;
}

.tr2{
	font-family:微软雅黑;
	color:#ff6600;
	font-size:25px;
}

.tr3{
	font-family:微软雅黑;
	color:#ffcc00;
	font-size:25px;
}


